* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: gilroy;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #111;
}

body{
  overflow-x: hidden;
}
.page1{
  width: 100%;
  height: 100%;
  background-color: #002379;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page2{
  width: 100%;
  height: 100%;
  background-color: #8576FF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page3{
  width: 100%;
  height: 100%;
  background-color: #7BC9FF;
}

.page3 h1{
  font-size: 40vw;
  color: black;
  text-transform: uppercase;
  pointer-events: none;
}

.page4{
  width: 100%;
  height: 100%;
  background-color: #FFD0EC;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.page5{
  width: 100%;
  height: 100%;
  background-color: #F2F597;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box{
  width: 200px;
  height: 200px;
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.boxx{
  min-width: 400px;
  height: 350px;
  background-color: red;
  border: 1px solid black;
  margin: 0 1rem;
  border-radius: 15px;
  
}